:root{background-color:#242424;box-sizing:border-box}#root{max-width:1920px}.centerIcon{width:350px;height:350px;margin-left:auto;margin-right:auto;margin-top:5%;border-radius:50%;border:2px solid rgb(42,93,235)}.icon{filter:invert(100%)}
