:root{background-color:#242424}#root{max-width:1920px}.centerIcon{max-width:fit-content;margin-left:auto;margin-right:auto;margin-top:5%;border-radius:50%;border:2px solid rgb(42,93,235)}.icon{filter:invert(100%)}
