#root {
  max-width: 1920px;
}

@font-face {
  font-family: squares;
  src: url("https://raw.githubusercontent.com/jackmadethat/protocol/refs/heads/main/src/assets/Squares Bold Free.otf");
}

@font-face {
  font-family: kode;
  src: url("https://raw.githubusercontent.com/jackmadethat/protocol/refs/heads/main/src/assets/KodeMono.ttf");
}

html {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: squares;
  height: 100%;
}

body {
  overflow-x: hidden;
  scrollbar-width: none;
  position: relative;
  color: #FFF;
  top: -8px;
  left: -8px;
  width: 100%;
  height: 100%;
  user-select: none;
}

h3 {
  font-family: squares;
}

p, ul, ol {
  font-family: kode;
}

.navigation {
  position: fixed;
  z-index: 50;
  top: 0px;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #00000069;
  display: flex;
  align-items: center;
  h2 {
    font-family: kode;
    margin-left: 15px;
    letter-spacing: 0.2em;
  }
  div {
    position: absolute;
    height: 3px;
    width: 100%;
    margin-top: 43px;
    background-color: #00000069;
  }
}

.list {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  margin-top: 10px;
}

.systemList {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  li {
    list-style-type: none;
    input {
      margin-right: 15px;
    }
  }
}

.progressionList {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  max-width: 220px;
  margin-top: 10px;
}

.warriorList li::marker {
  color: rgb(42, 142, 235);
}

.spartanList li::marker {
  color: rgb(201, 42, 42);
}

.spartanP {
  color: rgb(201, 42, 42);
}

.warriorP {
  color: rgb(42, 142, 235);
}

.shaolinP {
  color: rgb(255, 211, 91);
}

.infantryP {
  color: rgb(111, 179, 22);
}

#bgImageContainer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -100px;
  left: 50%;
  translate: -960px 0px;
  z-index: -1;
}

#bgImage {
  user-select: none;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%), linear-gradient(to right, black 70%, transparent 100%), linear-gradient(to left, black 70%, transparent 100%);
  mask-composite: intersect;
  transition: filter 1s;
}

.center {
  position: absolute;
  justify-content: middle;
  text-align: center;
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  transition: margin-top 1s;
}

.settingsIcon {
  filter: invert(100%);
  position: fixed;
  width: 35px;
  height: 35px;
  right: 15px;
}

.timerIcon {
  filter: invert(100%);
  position: fixed;
  width: 35px;
  height: 35px;
  right: 55px;
}

.centerIcon {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid rgb(42, 142, 235);
  z-index: 10;
  transition: border-color 1s;
}

.icon {
  filter: invert(100%) blur(0px);
  width: 200px;
  height: 200px;
  transition: filter 0.3s;
}

.icon:hover {
  filter: invert(100%) blur(4px);
}

.titleText {
  position: relative;
  text-align: center;
  margin-top: 100px;
  text-decoration: underline;
  text-decoration-color: rgb(42, 142, 235);
  text-decoration-thickness: 2px;
  transition: text-decoration-color 1s;
}

.iconBack {
  position: relative;
  margin-left: -960px;
  margin-top: -133px;
  background-color: #000;
  filter: opacity(0.4);
  width: 3840px;
  height: 62px;
  z-index: -1;
  clip-path: polygon(100% 90%, 0 90%, 0 0, 100% 0, 100% 5%, 0 5%, 0 10%, 100% 10%, 100% 100%, 0 100%, 0 95%, 100% 95%);
}

.scroll {
  position: absolute;
  margin-top: 96px;
  width: 33px;
  height: 11px;
  background-color: rgba(255, 255, 255, 0.3);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  z-index: 20;
}

.left {
  left: 0;
  transform: rotate(90deg);
}

.right {
  right: 0;
  transform: rotate(-90deg);
}

.dropDown {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 33px;
  height: 11px;
  background-color: white;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  transition: transform 0.25s;
}

.protocol {
  transition: clip-path 1s;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.subHeading {
  margin-bottom: -10px;
}

.subText {
  font-size: 0.75em;
}

.dataDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;

  .leftSide {
    text-align: right;
    padding-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .rightSide {
    text-align: left;
    padding-left: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .centered {
    grid-column: 1 / 3;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.dataDiv3col {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  padding-bottom: 20px;
  margin-top: -15px;

  .leftSide {
    text-align: right;
    padding-right: 15px;
  }

  .rightSide {
    text-align: left;
    padding-left: 15px;
  }

  .middle {
    grid-column: 1 / 3;
    text-align: center;
  }

  p {
    margin-bottom: -10px;
  }
}

.nutritionData {
  font-size: 0.8em;
}

#weight {
  padding: 3px;
  width: 65px;
  margin-left: 10px;
  font-family: squares;
  text-align: right;
  font-size: 1em;
}

#submitWeight {
  width: 70px;
  height: 28px;
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: squares;
  transform: translate(0px, -1px);
}

.timer {
  font-size: 6em;
  text-align: center;
  margin-top: -249px;
}

.step {
  font-size: 1.3em;
  margin-top: -110px;
  margin-bottom: 90px;
}

.timerButtons {
  margin-top: 140px;
  button {
    background-color: #ffffff17;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: auto;
    height: 40px;
    padding: 10px;
    margin: 5px;
    font-family: kode;
  }

  span {
    font-family: squares;
  }

  button:hover {
    background-color: #ffffff63;
  }
  
  .active {
    background-color: #ff00dd44;
  }
}

.adjust {
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
}

.tinyImg {
  position: absolute;
  top: -100px;
  width: 1px;
  height: 1px;
}